In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diabeted.csv')
df2 = df.copy()

In [3]:
missing_values = ["n/a", "na", "Not asked or Missing", "Don't know/Not sure", "Refused"]
df2 = pd.read_csv("diabeted.csv", na_values = missing_values)

In [4]:
print(df2.isnull().sum())

DIABETE3       4
VETERAN3      11
FRUIT1      1260
VEGETAB1    1422
dtype: int64

In [6]:
df2.dropna(inplace = True)

In [7]:
df2

      DIABETE3 VETERAN3           FRUIT1         VEGETAB1
0           No      Yes   Times per week   Times per week
1           No       No  Times per month  Times per month
2           No       No   Times per week   Times per week
4           No       No    Times per day    Times per day
6           No       No   Times per week  Times per month
...        ...      ...              ...              ...
12333       No       No   Times per week   Times per week
12334       No       No   Times per week            Never
12335      Yes       No   Times per week  Times per month
12336       No       No   Times per week    Times per day
12337       No       No   Times per week    Times per day

[10793 rows x 4 columns]

In [9]:
cols_to_clean = ["DIABETE3"]
for col in cols_to_clean:
    df2[col] = df2[col].map(lambda x:x.replace("No,pre-diabetes or borderline diabetes","No"))
    df2[col] = df2[col].map(lambda x:x.replace("Yes, but female told only during pregnancy","No"))

In [12]:
print(df2["DIABETE3"])

0         No
1         No
2         No
4         No
6         No
        ...
12333     No
12334     No
12335    Yes
12336     No
12337     No
Name: DIABETE3, Length: 10793, dtype: object

In [13]:
df2.iloc[1298:1230,]

Empty DataFrame
Columns: [DIABETE3, VETERAN3, FRUIT1, VEGETAB1]
Index: []

In [11]:
df2.to_csv('diabeted_final.csv', index = False)

In [ ]:
print(df2["DIABETE3"])